<div class="appName">
    This is the Azores!
</div>
<div>
    <div class="aim">
        Aim:
    </div>
    <p class="paragraph">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Alias similique quod unde, est fugiat ullam aspernatur incidunt hic dolore illum soluta ut rem ipsum in ipsam corporis esse. Sequi, saepe!
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia suscipit fuga molestias quisquam. Quas consequuntur facilis, labore voluptas vero quibusdam sit adipisci numquam eaque ex sapiente, odit aliquam asperiores iste!
    </p>
</div>

<br/>
<img [src]="azoresUrl"/>
