<div class="appName">
    <h3>This is the Azores!</h3>
</div>
<div>
    <div class="aim">
        Aim:
    </div>
    <p class="paragraph">
        São Miguel islands are a hidden gem in the Azores, offering remarkable beauty and plenty of outdoor activities to explore. If you're looking to discover São Miguel islands and are not sure where to start, our travel guide to the São Miguel islands is made by local experts to help show you the way. 
    </p>
    <p class="paragraph">
        Our team of local experts understand the landscape and culture of this unique environment best and can provide insider knowledge on top-rated accommodations, tourist attractions that should not be missed, and activities tailored to your particular interests. With access to their detailed expertise and guidance, travelling through these beautiful islands will be a truly once in a lifetime experience!
    </p>
</div>

<br/>
<img [src]="azoresUrl"/>
